# Datatype :-
> A Datatype represent the type of the data stored in the variable. The stored in the variable is called literal.

> ### type() : 
This method is used to find the type of the data that we stored in the variable

# Pre-defind datatypes

>1) Numeric Datatype

>2) Sequentialn Datatype

> 3) set Datatype

## 1) Numeric datatypes

1) int ( 1,2,3,4,...65234286524...etc)

2) float ( 12.34, 6537.88762556336

3) complex ( a+bj, ex: 10+5j )

### int (Integers) : 
    This value is represented by int class. It contains positive or negative whole numbers (without fraction or decimal). In Python there is no limit to how long an integer value can be.

In [6]:
x=1087257239772653738736572
y=20
sum=x+y
print(sum)

1087257239772653738736592

In [4]:
a=3
b=8

print(a+b)
print("a+b")

11
a+b

### float :
    This value is represented by float class. It is a real number with floating point representation. It is specified by a decimal point. Optionally, the character e or E followed by a positive or negative integer may be appended to specify scientific notation.

In [5]:
f1=10.123
f2=10.0
sum=f1+f2
print(sum)

20.122999999999998

In [6]:
a=12
f=76.982
print(a+f)

88.982

### complex (Complex Numbers) : 
    Complex number is represented by complex class. It is specified as (real part) + (imaginary part)j. For example â€“ 2+3j
    1. complex_num=a+bj
    2. a=real part
    3. b=imaginary part

In [7]:
a= 30  # int
f=17.0  # float
c1=2.5+2.5J  # complex
c2=3.0-1.5J  # complex
c3=3-10j  # complex 
c=c1+c2
print(c)
print(a+c1)
print(f+c3)  # 17.00+7j

#Real part=2.5+3.0=5.5
#imaginary=2.5-1.5=1

(5.5+1j)
(32.5+2.5j)
(20-10j)

In [8]:
a=46+6j
b=9+5j
print(a/b)

(4.188679245283018-1.6603773584905661j)

In [14]:
a=10.95
print(type(a))
print(a)

a=int(a)
print(type(a))
print(a)


a=complex(a)
print(type(a))
print(a)

<class 'float'>
10.95
<class 'int'>
10
<class 'complex'>
(10+0j)

In [1]:
a=9+10j
print(type(a))
print(a)

a=int(a)   # it raise an ERROR. Because we c                                                                               
print(type(a))
print(a)

<class 'complex'>
(9+10j)

TypeError: can't convert complex to int

In [ ]:
"""


"""
name="python"   # single line
name1='python'
name2="""python"""
name3='''python'''

# 2) Sequential Datatypes

1) String(str) datatype

2) list datatype

3) tuple datatype

4) dictionaray datatype

### 1. str (String) : 
    String is a group of characters enclosed in between single/dubble/triple quotes. ex: "Python" OR 'Python' OR """Python""" OR '''Python'''

In [3]:
My_String="Python programming"
print(My_String)
print(type(My_String))

Python programming
<class 'str'>

In [21]:
name='python'
print(name)    # There we are printing the value of the variable "name"
print("name")  # There we are printing the string "name"

python
name

In [23]:
print("Hello "+"World")    # concating the strings
print("Python"*6)

Hello World
PythonPythonPythonPythonPythonPython

####  Accessing the elements or a part of the string from the string :
    We can access the elements of the string by using the index. and we can you the slicing operation to access the sub string.

In [22]:
# Slicing operation on string

s="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
print(s)
print(len(s))
print(s[9])
print(s[3:10:2])  # s[start_value : stop_value : step_value]
print(s[::2])
print(s[:100000])
#print(s[2:8:0])
print(s[::-1])
print(s[10:2:-2])
print(s[1:12:-2])

ABCDEFGHIJKLMNOPQRSTUVWXYZ
26
J
DFHJ
ACEGIKMOQSUWY
ABCDEFGHIJKLMNOPQRSTUVWXYZ
ZYXWVUTSRQPONMLKJIHGFEDCBA
KIGE

In [19]:
s="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
print(s)
# print(s[0::1])
# print(s[0:10:])
# print(s[2:10:-2])
# print(s[2:16:3])
# print(s[-3:18:1])
# print(s[-25:0:])
#print(s[2:16:0])

ABCDEFGHIJKLMNOPQRSTUVWXYZ
ABCDEFGHIJKLMNOPQRSTUVWXYZ
ABCDEFGHIJ

CFILO

In [23]:
s="Python programming"
print(s[-4:-1:-1]) #mg
print(s)
print(len(s))
print(s[1:4])
print(s[1:14:2])
print(s[4:16:5])  
print(s[3:6:1]) 
print(s[5:])
print(s[5])
print(s[-3])

Python programming
18
yth
yhnporm
oom
hon
n programming
n
i

In [26]:
s="ABCDEFGHIJKLMNOPQRSTUVWXYZ."
print(s)
print(s[::])
print(s[::2])
print(s[::-1])
print(s[:10:4])
print(s[1:12])
print(s[1:12:1])
print(s[1:12:3])
print(s[::-3])
print(s[:-20:-3])

ABCDEFGHIJKLMNOPQRSTUVWXYZ.
ABCDEFGHIJKLMNOPQRSTUVWXYZ.
ACEGIKMOQSUWY.
.ZYXWVUTSRQPONMLKJIHGFEDCBA
AEI
BCDEFGHIJKL
BCDEFGHIJKL
BEHK
.XUROLIFC
.XUROLI

## 2. list Datatype( Mutable )

### Definition:-

A list is a ordered collection of elements of different datatypes,enclosed within the square brachets and separeted by the cammas

1. we can access the elements from the list by using the index number

In [8]:
# Defining the list 
My_list = ["Mathematics",1729,9,10,17.34]

# Displaying the list
print(My_list)

# Displaying the datatype of My_list
print(type(My_list))

['Mathematics', 1729, 9, 10, 17.34]
<class 'list'>

> ### We can us ethe for loop to display the list elements

In [9]:
My_list = ["Mathematics",1729,9,10,17.34]

# Displaying the elements using the for loop
for i in My_list:
    print(i)

Mathematics
1729
9
10
17.34

> ### We can access the list elements with indexing

In [12]:
My_list = ["Mathematics",1729,9,10,17.34]

# Accessing the elements with index number
print(My_list[0])
print(My_list[1])
print(My_list[2])
print(My_list[3])
print(My_list[4])

Mathematics
1729
9
10
17.34

> ### If we try to access the elements from the out of the list length, then it will raise an ERROR

In [13]:
My_list = ["Mathematics",1729,9,10,17.34]

"""

In the above list we have only 5 elements which are index from the 0 to 4.
If we try to access the element from the index number morethan the 4, it will raise an ERROR 

"""

print(My_list[5])

IndexError: list index out of range

> ### If a list contain another list then it is know as "NESTED LIST"

In [14]:
My_list = ["Mathematics",1729,9,10,17.34,[1,2,3,4,"a","Apple",22.21]]

# Accesssing the nested list from main list
print(My_list[5])   # here we just extracting the inner list

[1, 2, 3, 4, 'a', 'Apple', 22.21]

    Now, if we want to extrat the "Apple" from the "My_list"

In [15]:
My_list = ["Mathematics",1729,9,10,17.34,[1,2,3,4,"a","Apple",22.21]]

print(My_list[5][5])

Apple

> ### Basic list methods

In [21]:
l=[1,2,3,4]
print(l)

# Finding the length of the list
print(len(l))

# adding new element to the list at the end
l.append("Python")
print(l)

# adding a eliment at index
l.insert(2,4.3)
print(l)

# deleting a specified element
l.remove("Python")
print(l)

# deleting element from a specified index
l.pop(1)
print(l)

l.pop()  # delet the element from the last index
print(l)

m=["a","b","c","d"]

l.extend(m)
print(l)

m.extend(l)
print(m)

4
[1, 2, 3, 4]
<class 'list'>
[1, 2, 3, 4, 'Python']
[1, 2, 4.3, 3, 4, 'Python']
[1, 2, 4.3, 3, 4]
[1, 4.3, 3, 4]
[1, 4.3, 3]
[1, 4.3, 3, 'a', 'b', 'c', 'd']
['a', 'b', 'c', 'd', 1, 4.3, 3, 'a', 'b', 'c', 'd']

## 3. tuple datatype ( immutable )

### Definition:-

    A tuple is a ordered collection of elements of different datatypes,enclosed within the paranthesis brachets and separeted by the cammas

In [16]:
t=(1,2,3,4,23.8762,"Python")
print(t)

(1, 2, 3, 4, 23.8762, 'Python')

In [8]:
t=(1,2,3,4,23.8762,"Python")
print(len(t))
print(t.index("Python"))
print(t.count(7))
t.append(7)  # Error

6
5
0

AttributeError: 'tuple' object has no attribute 'append'

>> ## The main difference between list and tuple is, list is mutable and tuple is immutable.

## 4. Dictionary Datatype

## Definition:-
A Dictionary is a collection of Key and Value Pair

Ex :    
    dictionary = {key1:value1 , key2:value2 , key3:value3 .... etc}
    
We have to access the elements of the dictionary with key name

In [24]:
# Defining th dictionary
d={"programming":"Python","version":3,1:"a",2:"b","c":3,"list":[1,2,3,4]}

# Accessing the value with key
print(d["programming"])
print(d["version"])
print(d[1])
print(d["list"][3])

# Basic dictionary methods
print(d.keys())        # returns the key names only
print(d.values())      # returns the values only
print(d.items())       # return the key and values in tuples as a list

Python
3
a
4
dict_keys(['programming', 'version', 1, 2, 'c', 'list'])
dict_values(['Python', 3, 'a', 'b', 3, [1, 2, 3, 4]])
dict_items([('programming', 'Python'), ('version', 3), (1, 'a'), (2, 'b'), ('c', 3), ('list', [1, 2, 3, 4])])

In [26]:
d={"Mr.A":99,"Mr.B":98,1:"A",2:3}
print(d["Mr.B"])

98

In [17]:
d = {"name":"Python","version":3,1:1729,"a":1,"list":[1,2,3,4,[5,4,3,2]],"dict":{1:"a",2:"b"}}
#print(d)
print(d["version"])
print(d["list"])
print(d["dict"])
print(d["list"][4][2])

print(d["dict"][2])
# extracting the keys from the dictionary
print(d.keys())

# extracting the values from the dictionary
print(d.values())

print(d.items())

3
[1, 2, 3, 4, [5, 4, 3, 2]]
{1: 'a', 2: 'b'}
3
b
dict_keys(['name', 'version', 1, 'a', 'list', 'dict'])
dict_values(['Python', 3, 1729, 1, [1, 2, 3, 4, [5, 4, 3, 2]], {1: 'a', 2: 'b'}])
dict_items([('name', 'Python'), ('version', 3), (1, 1729), ('a', 1), ('list', [1, 2, 3, 4, [5, 4, 3, 2]]), ('dict', {1: 'a', 2: 'b'})])

> ### Displaying the dictionary with a for loop

In [18]:
d = {"name":"Python","version":3,1:1729,"a":1,"list":[1,2,3,4,[5,4,3,2]],"dict":{1:"a",2:"b"}}
for k,v in d.items():
    print(k," : ",v)

name  :  Python
version  :  3
1  :  1729
a  :  1
list  :  [1, 2, 3, 4, [5, 4, 3, 2]]
dict  :  {1: 'a', 2: 'b'}

## 3) set Datatype

    A set is unordered collection of the elements. ( unordered elemnts in the set is not maintain the order. And, it is a mutable type.

# Boolean Datatype ( True,False )

    "True" and "False" is know as the Boolean datatypes. To Know the boolean value of the some object we have a method "bool()" it return the "True" OR "False"

In [22]:
print(bool(0))

False

In [23]:
print(bool(1))

True

In [20]:
print(bool([]))

False

In [21]:
print(bool([1,2]))

True

In [16]:
10<23

True

In [19]:
print(21>3)

True

In [24]:
print(bool(" "))

True

In [25]:
print(bool("string"))

True