# 1)  Arithmetic Operaators ( +,-,*,/,//,% )

In [5]:
def arithmetic(a,b):
    print("a+b = ",a+b)   # return the addition of a,b
    print("a-b = ",a-b)   # return the substraction of a,b
    print("a*b = ",a*b)   # return the multiplication of a,b
    print("a/b = ",a/b)   # return the value of  a/b("a" divided by "b")
    print("a//b = ",a//b) # return the floor value of the "a" divided by "b"
    print("a%b = ",a%b)   # return the reminder of the "a" divided by "b" 
    print("a** = ",a**b)  # returnn the "a" to the power of the "b"
arithmetic(10,3)

a+b =  13
a-b =  7
a*b =  30
a/b =  3.3333333333333335
a//b =  3
a%b =  1

# 2) Bitwise oprators in python

### Bitwise NOT (Complement) Operator( ~ )

In [15]:
# "~" return the complement of the number
# a compliment is -a

print(~11)                           
print( ~ 12)
print(~13)
print(~1729)

-12
-13
-14
-1730

### bitwise AND Operator ( & )

#### TRUE table for AND :-

# 0 0 = 0
# 0 1 = 0
# 1 0 = 0
# 1 1 = 1

In [13]:
# it peforms the AND operation on the idividual bits of the number

print(10 & 11) #bin(10) = 0000 1010
               #bin(11) = 0000 1011
               #        = 0000 1010 = bin(10)

10

### Bitewise OR Operator ( | )

#### TRUE table for OR :-

# 0 0 = 0
# 0 1 = 1
# 1 0 = 1
# 1 1 = 1

In [15]:
# it peforms the OR operation on the idividual bits of the number

print(10 | 11) #bin(10) = 0000 1010
               #bin(11) = 0000 1011
               #        = 0000 1011 = bin(11)

11

### Bitwise XOR OPerator ( ^ )

#### TRUE table for XOR :-

# 0 0 = 0
# 0 1 = 1
# 1 0 = 1
# 1 1 = 0

In [16]:
"""
This operator performs exclusive (OR) XOR operation on the bits of the numbers
" ^ " symbol is called cap,carat,circumflex syblom

"""
print(10 ^ 11) #bin(10) = 0000 1010
               #bin(11) = 0000 1011
               #        = 0000 0001 = bin(1)

1

### Bitwise Left Shift Operation

In [17]:
print(10<<2)    #

40

### Bitwise Right Shift Operation

In [18]:
print(10>>2)    #

2

# 3) identity operator

In [16]:
"""
The memory location of the object can be seen by the id() function. this function returns the integer number, 
called identity number, that initially represent the memory location of the object.

"""

a = 10
b = 10

print(id(10))
print(id(10))
print(id(a))
print(id(b))

451253660240
451253660240
451253660240
451253660240

#### There are 2 identity oprators
1) is
2) is not

These operators are used to compare the memory location of the two objects. Hence, it is possible to know that,
they are same or not.

In [30]:
# is 

a=10
b=10
if(a is b):
    print("same")
else:
    print("not same")
    
#output is " same". because...., id of the a and b is same.
print(id(a))
print(id(b))

same
555748321872
555748321872

In [36]:
a="python"
b="python"
if(a is b):
    print("same")
else:
    print("not same")
    
#output is " not same". because...., id of the a and b is not same.
print(id(a))
print(id(b))

same
555791014576
555791014576

In [31]:
# is 

a=[1,2,3,4,5]
b=[1,2,3,4,5]
if(a is b):
    print("same")
else:
    print("not same")
    
#output is "not same". because...., id of the a and b is not same.
print(id(a))
print(id(b))

not same
555857253760
555857254528

#### so, if you want to compare the values of the objects, we should the " == "

In [34]:
a=10
b=10
if(a == b):
    print("same")
else:
    print("not same")
    
# #output is " same". because...., id of the a and b is same.
# print(id(a))
# print(id(b))

same

In [37]:
a="python"
b="python"
if(a == b):
    print("same")
else:
    print("not same")

same

In [17]:
a=[1,2,3,4,5]
b=[1,2,3,4,5]
if(a == b):
    print("same")
else:
    print("not same")
    
print("=============")
print(a==b)
print(a is b)

same
=============
True
False

# 4) Logical Operators

1) and   # (x and y),if x is False, it return x, otherwise it return y.

2) or    # (x or y),if x is False, it return y, otherwise it return x.

3) not   # (not y),if x is False,it return True,otherwise True.

Logical operators are useful to construct the compound conditions. A compound condition is a combination of the more then one simple condition.

In [53]:
print(not 100)
print(not 1)
print(not 0)

False
False
True

In [55]:
x=100
y=200
print("1) ",x and y)
print("2) ",x or y)
print("3) ",not y)

1)  200
2)  100
3)  False

# 5) Boolean Opeartor

There two bool type literals. They are "True" and "False". Boolean operators acts upon "bool" type literals and they provide "bool" type output. That means the result privided by the boolean operators is either "True" or "False" .

In [62]:
print(True and False)
print(False and True)
print(True and True)
print(False and False)

False
False
True
False

In [61]:
print(True or False)
print(False or True)
print(True or True)
print(False or False)

True
True
True
False

In [64]:
print(not True)
print(not False)

False
True

In [20]:
print(1 or 0)
print(2 or 3)
print(2 and 3)

1
2
3

# 6) Relational Opearators ( >,<,>=,<=,==,!= )

Used to compare two quantities

In [67]:
x=10
y=20

print(x>y)
print(x>=y)
print(x<y)
print(x<=y)
print(x==y)
print(x!=y)

print("_________________")

print(x>x)
print(x>=x)
print(x<x)
print(x<=x)
print(x==x)
print(x!=x)

False
False
True
True
False
True
_________________
False
True
False
True
True
False

# 7) Mebership Operator

>Membership operator is usufull to test the membership in the sequence such as list, tuple,dictionary and string..... etc

In [23]:
l=[1,2,3,4,5]
print(2 in l)
print(3 not in l)

True
False

In [32]:
s="Data Science with python"
print("data" in s)
print("Data" in s)
print(" " in s)
print("Data Science " in s)

False
True
True
True

# Mathematical Functions

In [89]:
import math as m

#ceil()
print("ceil of 12.34 is ",m.ceil(12.34))  # return ceil value of the 12.34

#floor()
print("floor of 12.34 is ",m.floor(12.34))  # return floor value of the 12.34

#degree()
print("degrees value of radians 12.34 is ",m.degrees(12.34))  # 

#degrees()
print("radians value of the degree 12 .34 is ",m.radians(12.34))

#sin()
print("sin(60) is ",m.sin(60)) # 60 is radians value

#cos()
print("cos(60) is ",m.cos(60)) # 60 is radians value

#tan()
print("tan(60) is ",m.tan(60)) # 60 is radians value

#exp()
print("e^2 is ",m.exp(2)) # exponatiation of the 2

#fabs()
print("absolute value of the 12 is ",m.fabs(12),"absolute value of the -12.34 is ",m.fabs(-12.34))

#factorial()
print("factorial of the 4 is ",m.factorial(4))
#print("factorial of the 4.56 is ",m.factorial(4.56)) #value error
#print("factorial of the -4 is ",m.factorial(-4)) # value error
#print("factorial of the 'a' is ",m.factorial("a")) # type error

#fmod()
print("reminder for 10 divided by 4 ",m.fmod(10,4)) # return the reminder

#sum()
print("sum of elements in a sequence is ",m.fsum(range(10))) # return thr sum of thr elements in the sequence
print(m.fsum([1,2,3,4,5,6,7,8,9,10]))
print(m.fsum((1,2,3,4,5,6,7,8,9,10)))

#modf()
print("the fraction and inter part of the float 2.56 is ",m.modf(2.56))  # return the fraction and inter part of the float

#sqrt()
print("square root of the 4 is ",m.sqrt(4))

pow()
print("the value of the 5 to the power of 2 is ",m.pow(5,2))

#gcd()
print("GCD of 25,10 is",m.gcd(25,10))

ceil of 12.34 is  13
floor of 12.34 is  12
degrees value of radian 12.34 is  707.0299191914359
radians value of the degree 12 .34 is  0.21537362969610027
sin(60) is  -0.3048106211022167
cos(60) is  -0.9524129804151563
tan(60) is  0.320040389379563
e^2 is  7.38905609893065
absolute value of the 12 is  12.0 absolute value of the -12.34 is  12.34
factorial of the 4 is  24
reminder for 10 divided by 4  2.0
sum of elements in a sequence is  45.0
55.0
55.0
the fraction and inter part of the float 2.56 is  (0.56, 2.0)
square root of the 4 is  2.0
the value of the 5 to the power of 2 is  25.0
GCD of 25,10 is 5